ODOO_URL=https://hr.abissnet.al        # ose URL e instancës tënde
ODOO_DB=odoo                      # emri i DB që gjetëm
ODOO_UID=858                            # UID i user-it API
ODOO_PASS=Biori1234         # API key / pass i atij useri
PORT=4000

# SMTP Configuration for sending emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
# No secrets needed for demo
